body {
  background-color: rgba(171, 205, 203, 0.3);
}

h2 {
  font-size: 48px;
  padding: 20px;
  color: #c84361;
}

.App Nav {
  box-shadow: rgba(114, 73, 100, 0.08) 0px 8px 8px 0;
}

.App h1 {
  font-size: 44px;
  color: #c84361;
}

.App .Home h3 {
  font-size: 30px;
  margin-left: 100px;
  color: rgba(231, 135, 117, 0.5);
}

.App h3 {
  font-size: 30px;
  color: #c84361;
}

.App a {
  color: #c84361!important; 
  text-decoration: none;
}

.App .header {
  text-align: center;
  margin: 60px auto ; 
}

.artist button {
  display: flex;
  margin: 30px auto;
  cursor: pointer;
  padding: 8px 15px;
  border: 1px solid rgba(231, 135, 117, 0.5);
  border-radius: 6px;
}
.artist button:hover {
  border: 1px solid rgba(231, 135, 117, 0.5);
  background: rgba(231, 135, 117, 0.5);
}

.artist-paragraph p {
  font-size: 22px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  text-align: justify;
  letter-spacing: 0em;
  color: rgba(92, 35, 47, 0.8);
}

.artist-photo img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.contact-box {
  background-color: rgba(231, 135, 117, 0.5);
  border-radius: 120px;
  margin: 100px 80px 60px;
  padding: 30px 80px;
}

.contact-box h4 {
  font-size: 40px;
  font-weight: bold;
  color: #c84361;
}

.contact-box h5 {
  font-size: 28px;
  color: #c84361;
}

.contact-box button {
  background-color: #c84361;
  border: 1px solid #c84361;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.contact-box button a {
  color: white!important;

}

.about-paragraph {
  margin: 40px 500px;
  padding: 30px 60px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(173, 173, 173);
}

.about-paragraph p {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: justify;
}

.contact-details {
  text-align: center;
  margin: 0 0 40px;
}

.contact-details h4 {
  color: rgba(231, 135, 117);
  font-size: 36px;
  margin: 5px;
}

.contact-details a {
  font-size: 20px;
  display: inline-block;
  margin: 5px 5px 40px;
}

.Footer {
line-height: 21px;
text-align: center;
font-size: 10px;
color: #c84361;
margin-top: 25px;
position: absolute;
width: 100%
}


.Footer h5 {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
}

.Footer h6 {
  font-size: 15px;
}

.Footer a {
  font-size: 16px;
}

.Footer .social-links {
  margin: 30px 0;
}

.Footer .social-links a {
  margin: 20px;
  padding: 10px 14px;
  font-size: 24px;
}

.Footer small {
  color: rgba(92, 35, 47, 0.8);
}