.Photos {
    display: flex;
    height: 100vh;
}

.Photos .portfolio-introduction h4 {
    color: #c84361;
    font-size: 36px;
}

.portfolio-introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(231, 135, 117);
}

.featured-portfolio {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-highlight {
    width: 80%;
    height: 50%;
    border: 1px solid #ABCDCB;
}

.work-preview {
    display: flex;
    width: 80%;
   
}

.work-preview img {
    height: 150px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: 2px solid #ABCDCB;
}

img.work-active {
    opacity: 1;
}