.Photos {
    display: flex;
    height: 130vh;
    justify-content: center;
}

.featured-portfolio {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-highlight {
    width: 80%;
    height: 85%;
    border: 1px solid #ABCDCB;
    box-shadow: 30px 15px 30px #ABCDCB;
}

.work-preview {
    display: flex;
    width: 80%;
    box-shadow: 30px 15px 30px #ABCDCB;
   
}

.work-preview img {
    height: 250px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: 2px solid #ABCDCB;
}

img.work-active {
    opacity: 1;
}