.Photos {
    display: flex;
    height: 50vh;
}

.featured-photos img {
   margin: 0;
   width: 100%;
}

.photo-items {
    padding: 3px;
}

.Photos-projects {
    display: flex;
    justify-content: center;
}

.gallery-highlight {
    width: 100%;
    height: 100%;
    border: 1px solid #ABCDCB;
    padding: 180px 100px;
    border: 5px dotted rgb(171, 205, 203);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.featured-portfolio p {
    font-size: 20px;
    color: rgba(92, 35, 47, 0.8);
    position: relative;
    left: 110px;
    bottom: 170px;
}

.work-gallery {
    padding: 50px 50px;
    border: 5px dotted rgb(171, 205, 203);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.work-preview {
    display: flex;
    width: 90%;
    margin: 0 auto;
   
}

.work-preview img {
    width: 100%;
    height: 250px;
    flex-grow: 1;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: 2px solid #ABCDCB;
}

img.work-active {
    opacity: 0.6;
}